<div class="text-right" ]>
    <button class='big' id='font-up'>
        Aa
    </button>&nbsp;
    <button class='small' id='font-down'>
        Aa
    </button>
</div>
<div>
    &nbsp;
</div>

<!-- primary container div -->
</div>

<script type="text/javascript" src="js/link.js"></script>
<script type="text/javascript" src="js/fontsize.js"></script>
</body>

</html>