.app-header {
  flex: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  background-color: rgba(100, 100, 100, 0.5);
  color: white;
}

.new-tweet-toggle {
  margin-right: 10px;
}

.btn-new-tweets {
  margin-left: 10px;
}

.disclaimer {
  color: rgba(100, 100, 100, 1.5);
  font-size: xx-small;
}
