.sidebar {
  display: flex;
  flex-direction: column;
  flex: 0 0 150px;
  line-height: 1.5;
  text-align: left;
  overflow: scroll;
  overflow-x: hidden;
  height: 95vh;
}

@media only screen and (max-width: 600px) {
  .sidebar {
    height: 20vh;
  }
}

.sidebar-friendlist-item {
  cursor: pointer;
  transition: all 150ms;
  text-align: left;
  color: yellow;
}

.sidebar-friendlist-item:focus {
  outline: 0;
}

.unread {
  font-size: medium;
  font-weight: bold;
}

.sidebar .selected {
  transform: translateX(2rem);
  background: linear-gradient(90deg, yellow 0%, black 80%);
  color: black;
  font-weight: bold;
  font-size: large;
  border-radius: 2rem 0 0 2rem;
}
