.tweet-panel {
  width: 100%;
  padding-bottom: 2rem;
}

.tweet-panel-header {
  background-color: var(--app-color);
  padding: 5px 10px;
  color: yellow;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  margin-left: 1rem;
  margin-right: 1rem;
  background-color: black;
  color: yellow;
  text-align: center;
  padding: 1rem;
  border-radius: 2px;
  z-index: 5;
}

.tweet-panel-header-title {
  font-weight: 600;
  text-align: left;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
}

.tweet-panel-header-name {
  margin-left: 1rem;
}

.tweet-panel-header-image {
  border-radius: 50%;
}

.tweet-panel-header-action {
  cursor: pointer;
  text-align: center;
  border: 1px solid green;
  border-radius: 0.5rem;
  width: 3.5rem;
}

.tweet-panel-tweet {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.tweet-panel-tweet-content {
  padding: 5px;
  background-color: rgba(100, 100, 100, 0.25);
  padding: 10px 20px;
  border: 1px solid var(--app-color);
  border-radius: 0.2rem;
  font-size: 1.3rem;
  box-shadow: 2px 2px black;
  width: 100%;
  word-break: break-word;
}

.tweet-panel-tweet-similarity {
  font-size: 0.75em;
  font-style: italic;
  color: tomato;
  padding-left: 10px;
}

.tweet-action {
  background-color: black;
  color: white;
  border-radius: 5px;
  padding: 0.25rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.action-left {
  transform: translateX(50%);
}

.action-right {
  transform: translateX(-50%);
}

.action-stack {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.retweet-user {
  background-color: black;
  color: var(--app-color);
  border-radius: 2px;
  padding: 2px;
}

@media screen and (max-width: 800px) {
  .tweet-panel {
    flex-basis: 500px;
  }
}
