<% include partials/header %>

    <form class="text-right" action='/friends' method="POST">
        <button>Refresh from Twitter</button>
    </form>

    <h4>Friends</h4>
    <div class="friendlist">
        <ul>
            <% friends.forEach( friend => { %>
                <li>
                    <img src="<%=friend.imgUrl%>" />
                    <a href="/friends/<%=friend._id%>">
                        <%= friend.name %>
                    </a>
                </li>
                <% }) %>
        </ul>
    </div>
    <% include partials/footer %>