<% include partials/header %>

<main>
    <header class="sub-header">
        <h3>Friends</h3>
        <form class="text-right" action='/friends' method="POST">
            <button>Refresh from Twitter</button>
        </form>
    </header>

    <div class='all-friends'>
        <ul class="friendlist">
            <% friends.forEach( friend => { %>
            <li class="friend sizeable-text">
                <img src="<%=friend.imgUrl%>" />
                <a href="/friends/<%=friend._id%>">
                    <%= friend.name %>
                </a>
            </li>
            <% }) %>
        </ul>
    </div>
</main>
<% include partials/footer %>