<% include partials/header %>

    <form class="text-right" action='/main' method="POST">
        <button>Get new tweets</button>
    </form>

    <h4>Tweets</h4>
    <div class="friendlist">
        <ul>
            <% data.forEach( item => { %>
                <li>
                    <%= item.name %> (
                        <%=item.tweets ? item.tweets.length : 0%> )
                            <% if(item.tweets) { %>
                                <ul>
                                    <% item.tweets.forEach(tweet => { %>
                                        <% if(!tweet.isRead) { %>
                                            <form class="text-left" action="/tweets/<%=tweet._id%>?_method=PUT&dest=main" method="POST">
                                                <button class="btn btn-link btn-xs">Read</button>
                                            </form>
                                            <% } %>
                                                <li>
                                                    <%=tweet%>
                                                </li>
                                                <% }) %>
                                </ul>
                                <% } %>
                </li>
                <% }) %>
        </ul>
    </div>


    <% include partials/footer %>