<% include partials/header %>

<main>
    <header class="sub-header">
        <h3>Timeline</h3>
        <form class="text-right" action='/timeline' method="POST">
            <button>Refresh from Twitter</button>
        </form>
    </header>
    <ul class="timeline-tweets">
        <% tweets.forEach( tweet => { 
                    const tweetStr = `@${tweet.userScreenName}: ${tweet.text}`;
                    %>
        <li>
            <% if(!tweet.isRead) { %>
            <form class="inline" action="/tweets/<%=tweet._id%>?_method=PUT&dest=timeline" method="POST">
                <button class="btn btn-link btn-xs">
                    <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
                </button>
            </form>
            <% } %>
            <a href="https://twitter.com/<%=tweet.userScreenName%>/status/<%=tweet.id%>" target="_blank">
                <span class="glyphicon glyphicon-comment" aria-hidden="true">&nbsp;</span>
            </a>
            <span class="tweetstr sizeable-text">
                <%= tweetStr %>
            </span>
        </li>
        <% }) %>
    </ul>

</main>

<% include partials/footer %>