<% include partials/header %>

    <h4>User Tweets</h4>
    <ul>
        <% tweets.forEach( tweet => { %>
            <li>
                <%= tweet.full_text %>
            </li>
            <% }) %>
    </ul>

    <% include partials/footer %>