<% include partials/header %>

    <h4>User Tweets</h4>
    <ul>
        <% tweets.forEach( tweet => { %>
            <li>
                <span class="tweetstr">

                    <%= tweet.full_text %>
                </span>
                <a href="https://twitter.com/<%=tweet.user.screen_name%>/status/<%=tweet.id_str%>" target="_blank">
                    <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
                </a>
            </li>
            <% }) %>
    </ul>
    <script type="text/javascript" src="/link.js"></script>

    <% include partials/footer %>