@import '~@blueprintjs/core/lib/css/blueprint.css';
@import '~@blueprintjs/icons/lib/css/blueprint-icons.css';

:root {
  --app-bg-color: black;
  --app-color: rgb(163, 151, 151);
  --tweet-bg-color: rgb(63, 69, 122);
}

.App {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--app-bg-color);
  color: var(--app-color);
  font-size: calc(0.8em + 0.5vw);
}

.app-main {
  display: grid;
  grid-template-columns: 1fr 3fr;
  flex: 1;
  justify-content: center;
}

@media only screen and (max-width: 600px) {
  .app-main {
    grid-template-columns: 1fr;
    grid-template-rows: 20vh 1fr;
  }

  .app-header {
    position: fixed;
    bottom: 0;
    background-color: var(--app-bg-color);
    width: 100vw;
    z-index: 1;
    margin: 0;
    padding: 5px;
  }
}

.app-error {
  text-align: center;
  color: red;
}

.app-footer {
  flex: 0 0 50px;
}

li {
  list-style: none;
}
