.tweet-panel {
  width: 100%;
  padding: 5px;
  background-color: var(--tweet-bg-color);
  border-radius: 5px;
  margin-right: 5px;
  flex-basis: 800px;
}

.tweet-panel-header {
  background-color: var(--app-color);
  padding: 5px 10px;
  color: var(--app-bg-color);
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}

.tweet-panel-header-title {
  font-weight: 600;
  text-align: left;
}

.tweet-panel-header-action {
  cursor: pointer;
  text-align: right;
}

.tweet-panel-tweet {
  display: flex;
  align-items: center;
  margin: 10px;
}

.tweet-panel-tweet-content {
  padding: 5px;
  background-color: var(--app-bg-color);
  border-radius: 5px;
  color: var(--app-color);
  padding: 10px 20px;
  border: 2px solid var(--app-color);
  font-size: 0.8em;
}

.tweet-action {
  border: 2px solid var(--app-color);
  background-color: black;
  color: var(--app-color);
  border-radius: 20px;
  padding: 3px;
  padding-bottom: 1px;
  cursor: pointer;
}

.action-left {
  transform: translateX(50%);
}

.action-right {
  transform: translateX(-50%);
}

@media screen and (max-width: 800px) {
  .tweet-panel {
    flex-basis: 500px;
  }
}
