:root {
  --bg-color: rgb(0, 0, 0);
  --text-color: rgb(0, 180, 0);
  --text-shadow: rgba(0, 255, 0, 0.25);
}

body {
  background: var(--bg-color);
  color: var(--text-color);
  font-size: 1.5em;
}

button {
  background: none;
  padding: 3px;
  transition: transform 150ms ease;
  border-radius: 5px;
  border-bottom-color: var(--text-color);
  border-right-color: var(--text-color);
  border-top: none;
  border-left: none;
  box-shadow: 3px 3px var(--text-shadow);
  outline: none;
}

button:active {
  transform: scale(0.8);
}

ul {
  list-style-type: none;
}

li {
  transition: all 0.2s;
}

.big {
  font-size: 1em;
  margin: 10px;
}

.small {
  font-size: 0.5em;
  margin: 10px;
}

.inline {
  display: inline;
}

.selected {
  color: rgba(255, 255, 0, 0.75);
}

.removing {
  margin-left: 500px;
  opacity: 0;
  transition: all 1s;
}

.friendlist {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 10px;
}

.not-loading {
  visibility: hidden;
}

.loading {
  visibility: visible;
  margin: 0 auto;
}

main {
  display: flex;
  flex-direction: column;
}

.sub-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}

.friend-tweets {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  padding: 5px;
}

.friend-tweets:nth-child(odd) {
  background-color: rgba(100, 100, 100, 0.35);
}

.main-tweet {
  display: flex;
  align-items: flex-start;
  padding-bottom: 10px;
}

.main-tweet-buttons {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 3px;
}

.markreaduser {
  align-self: flex-end;
}
