body {
  background: black;
  color: green;
}

.inline {
  display: inline;
}

ul {
  list-style-type: none;
}

.selected {
  color: rgba(255, 255, 0, 0.75);
}

li {
  transition: all 0.2s;
}

.friendlist {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 10px;
}
